<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCM5b94-ENjTHS_StmxOQUsPQr4PmZRmk</string>
	<key>GCM_SENDER_ID</key>
	<string>928028075855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.act16Mad</string>
	<key>PROJECT_ID</key>
	<string>act16-mad</string>
	<key>STORAGE_BUCKET</key>
	<string>act16-mad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928028075855:ios:20a0b3c8ee57cb9fd5873a</string>
</dict>
</plist>